// Place all the styles related to the GiftShares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
    text-align: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0px;
    height: 100%;
}
.hongbao{
    height: 420px;
    background: #A5423A;
    width: 315px;
    left: 0;
    top: 0;
    border-radius: 10px;
    margin: 0 auto;
}
.topcontent{
    height: 280px;
    border: 1px solid #BD503A;
    background-color: #BD503A;
    border-radius: 10px 10px 50% 50% / 10px 10px 15% 15%;
    box-shadow: 0px 4px 0px -1px rgba(0,0,0,0.2);
}
.avatar{
    position: relative;
}
.avatar span{
    position: absolute;
    top: 10px;
    left: 15px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    font-size: 2em;
}
#close{
    color: rgba(0,0,0,0.5);
}
.avatar img{
    border: 1px solid #BD503A;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10%;
    width: 85px;
    height: 85px;
}
.topcontent h2{
    margin-top: 15px ;
    font-size: 16px;
    margin-bottom: 0px;
        color: #fffab5;
}
.text{
    color: #fffab5;
    font-size: 13px;

}
.description{
    margin: 30px 0;
    font-size: 20px;
    font-weight: 600;
    color: #fffab5;
}
#chai{
    width: 100px;
    height: 100px;
    border: 1px solid #FFA73A;
    background-color: #FFA73A;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin-top: -50px;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
}
#chai span{
    margin-top: 35px;
    display: inline-block;
    font-size: 40px;
    color: #000000;
}
.rotate{
    -webkit-animation: anim .6s infinite alternate;
        -ms-animation: anim .6s infinite alternate;
            animation: anim .6s infinite alternate;
}
@-webkit-keyframes anim {
    from { -webkit-transform: rotateY(180deg); }
    to { -webkit-transform: rotateY(360deg); }
}
@-ms-keyframes anim {
    from { -ms-transform: rotateY(180deg); }
    to { -ms-transform: rotateY(360deg); }
}
@keyframes anim {
    from { transform: rotateY(180deg); }
    to { transform: rotateY(360deg); }
}
.swiper-wrapper {
  img {
    width: 100%;
  }
}
.card {
  background-color: rgb(214, 214, 212);
  margin: 5px 0;
  height: 125px;
  padding: 12px 29px;
}
.card {
  .left-circle {
    height: 100%;
    width: 21%;
    float: left;
    background-color: rgb(24, 20, 18);
    .circle {
      position: relative;
      width: 100%;
      left: -29%;
      top: 21%;
      height: 60%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      background-color: #d6d6d4;
    }
  }
}
.main-desc {
  font-size:9px;
  color:#333333;
  letter-spacing:0;
  text-align:center;
}
.coupon {
    /* 相对定位，方便让before和after伪元素绝对定位偏移 */
    position: relative;
    /* 把超出div的部分隐藏起来 */
    overflow: hidden;
    width: 79%;
    height: 100%;
    background-color: rgb(24, 20, 18);
    margin: auto;
    .divider {
      width: 80%;
      height: 1px;
      background-image: linear-gradient(to right, #ccc 0%, #ccc 78%, transparent 50%);
      background-size: 19px 1px;
      background-repeat: repeat-x;
      margin: 10px 0;
    }
    .divider.top {
      width: 106%;
    }
    .divider.bottom {
      bottom: 0px;
      position: absolute;
    }
    .content {
      color: white;
      margin-left: 9px;
      margin-right: 45px;
      height: 80%;
      .center {
        height: 82%;
        & > * {
        }
        .left {
          float: left;
          width: 24px;
          border: 2px solid;
          border-radius: 55px;
          text-align: center;
          margin: 31px 0;
        }
        .right {
          height: 80%;
          text-align: center;
          .desc {
            font-size: 18px;
            margin-top: 5px;
          }
          .price {
            font-size: 25px;
            margin-top: 15px;
          }
        }
      }

      .right {
        color: rgb(207, 14, 23);
      }
    }
}
.coupon {
  background: radial-gradient(rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 5px, rgb(24, 20, 18) 5px);
  background-size: 15px 15px;
  background-position: 9px 3px;
  z-index: 0;
  &:before {
    background-color: rgb(24, 20, 18);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 10px;
    z-index: -1;
  }
}
// .coupon:before, .coupon:after {
//     content: ' ';
//     width: 0;
//     height: 100%;
//     /* 绝对定位进行偏移 */
//     position: absolute;
//     top: 10px;
// }

// .coupon:before {
//     /* 圆点型的border */
//     border-image-source: url('/dot-left.png');
//     border-image-slice: 0px 0px 5px 0px;
//     border-image-width: 1;
//     border-image-outset: 0px 0px 0px 0px;
//     border-image-repeat: repeat;
//         /* 偏移一个半径，让圆点的一半覆盖div */
//     left: -42px;
//     border-color: rgb(214, 214, 212);
//     top: 21px;
// }
//
// .coupon:after {
//     /* 圆点型的border */
//     border-left: 10px dotted white;
//     /* 偏移一个半径，让圆点的一半覆盖div */
//     right: -5px;
//     border-color: rgb(214, 214, 212);
// }
.share-link {
  text-align: center;
}
.mui-container {
  .title.mui--text-center {
    font-size:16px;
    color:#333333;
    letter-spacing:0;
    text-align:center;
    margin: 10px 0;

  }
}
.coupon-usage {
  img {
    width: 100%;
  }
  .title {
    font-size:18px;
    color:#999999;
    letter-spacing:0;
    margin-bottom: 15px;
  }
  .qrcodes {
    & > * {
      display: initial;
    }
    .right {
      float: right;
      img {
        width: 100%;
      }
    }
    margin-bottom: 20px;
    img {
      width: 38%;
    }
  }
}
.mui-divider {
  margin: 10px 0;
}
.footer {
  margin: 10px auto 20px auto;
  text-align: center;
  img {
    width: 40%;
  }
}
.container {
  .tl {
    text-align: left;
  }
  .title {
    border-radius:5px;
    padding: 0.625rem 1.5rem 0.5rem 1.5rem;
    width: 96%;
    margin-left: 2%;
    .images {
      .top {
        img {
          width: 28%;
        }
      }
      .bottom {
        img.right {
          width: 23%;
        }
        img.left {
          width: 30%;
          vertical-align: bottom;
        }
      }
    }
  }
  .body img {
    width: 100%;
  }
  .footer {
    .line {
      margin-bottom: 0.8rem;
      &.fenxiang {
        font-size:18px;
        color:#333333;
        letter-spacing:0;
      }
      &.tip {
        font-size:14px;
        color:#999999;
        letter-spacing:0;
      }
      &.last {
        margin-bottom: 0.5rem;
      }
    }
    .btn {
      width: 52%;
      margin-left: 24%;
      font-size: 18px;
      background: #ff3a3a;
      border-color: #ff3a3a;
    }
  }
}
.gift_share {
  &.container {
    padding-top: 5rem;
  }
  .hongbao {
    background:#ff3a3a;
    border-radius:30px;
    img.img-circle {
      border-radius: 5rem;
      margin-top: 14%;
    }
    .user-name {
      font-size:14px;
      color:#ffffff;
      letter-spacing:0;
      text-align:center;
      margin-bottom: 1rem;
    }
    .text {
      font-size:18px;
      color:#333333;
      letter-spacing:0;
    }

    .open-hongbao {
      width: 75px;
      height: 75px;
      background-color: #ffe47d;
      border-radius: 50%;
      margin-left: 38%;
      margin-top: 25%;
    }
    .kai {
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background-color: #ffe47d;
      position: relative;
      top: 4px;
      left: 4px;
      border: 2px solid white;
      font-size:36px;
      color:#333333;
      letter-spacing:0;
      padding-top: 3px;
    }
  }
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
.mask {
  display: none;
  margin: auto;
  padding-right: 1.2rem;
  max-width: 768px;
  text-align: right;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,.65);
  z-index: 10;
  img {
    width: 81%;
    -webkit-pointer-events: none;
    pointer-events: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}
.coupons {
  max-height: 400px;
  overflow-y: auto;
}
