<div class="container" id="container">
    <div class="hongbao">
        <div class="topcontent">
            <div class="avatar">
                <span id="close">+</span>
                <img src="http://img3.imgtn.bdimg.com/it/u=3287497184,4066980060&fm=214&gp=0.jpg">
            </div>
            <h2>最值</h2>
            <span class="text">给你发了一个红包</span>
            <div class="description">恭喜发财，大吉大利</div>
        </div>
        <div class="chai" id="chai">
            <span>開</span>
        </div>
    </div>
</div>
<script src="/mui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var oChai = document.getElementById("chai");
    var oClose = document.getElementById("close");
    var oContainer = document.getElementById("container");

    oChai.onclick = function (){
        oChai.setAttribute("class", "rotate");
    }
    oClose.onclick = function (){
        oContainer.style.display = "none";
    }
  });
</script>
